flows.json
[{"id":"f50e8d8c.fbce5","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"1ece2146.82daff","type":"inject","z":"f50e8d8c.fbce5","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":103,"y":30,"wires":[["b4df79f1.580398"]]},{"id":"52970f01.3ea06","type":"debug","z":"f50e8d8c.fbce5","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":695.0001220703125,"y":20,"wires":[]},{"id":"b4df79f1.580398","type":"http request","z":"f50e8d8c.fbce5","name":"","method":"GET","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v3/identity/token","tls":"","proxy":"","authType":"basic","x":320,"y":63,"wires":[["52970f01.3ea06","7ecfa436.1bfaac"]]},{"id":"89a87ee0.374dc","type":"http request","z":"f50e8d8c.fbce5","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v3/wml_instances/dd966840-c644-4bae-8b41-0200f2428a73/deployments/378068be-6450-4b65-8015-00367dafb7e1/online","tls":"","persist":false,"proxy":"","authType":"","x":525.0001220703125,"y":94,"wires":[["52970f01.3ea06","bbfeb10d.5752c"]]},{"id":"bbfeb10d.5752c","type":"function","z":"f50e8d8c.fbce5","name":"json Parsing","func":"msg.payload=msg.payload.values[0][1][0];\nreturn msg;","outputs":1,"noerr":0,"x":588,"y":313,"wires":[["3252fa17.923f46"]]},{"id":"6f60a6ba.fd8028","type":"ui_form","z":"f50e8d8c.fbce5","name":"","label":"","group":"700f777d.516f38","order":2,"width":0,"height":0,"options":[{"label":"enter pregnencies","value":"preg","type":"number","required":true,"rows":null},{"label":"Enter Glucose","value":"glucose","type":"number","required":true,"rows":null},{"label":"Enter blood ppresure","value":"bp","type":"number","required":true,"rows":null},{"label":"enter skin thickness","value":"st","type":"number","required":true,"rows":null},{"label":"insulin","value":"insulin","type":"number","required":true,"rows":null},{"label":"bmi","value":"bmi","type":"number","required":true,"rows":null},{"label":"DiabetesPedigreeFunction","value":"diabetes","type":"number","required":true,"rows":null},{"label":"Age","value":"age","type":"number","required":true,"rows":null}],"formValue":{"preg":"","glucose":"","bp":"","st":"","insulin":"","bmi":"","diabetes":"","age":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":84.10000610351562,"y":96,"wires":[["56500906.4699b8"]]},{"id":"56500906.4699b8","type":"function","z":"f50e8d8c.fbce5","name":"Input","func":"global.set(\"preg\",msg.payload.preg);\nglobal.set(\"glucose\",msg.payload.glucose);\nglobal.set(\"bp\",msg.payload.bp);\nglobal.set(\"st\",msg.payload.st);\nglobal.set(\"insulin\",msg.payload.insulin);\nglobal.set(\"bmi\",msg.payload.bmi);\nglobal.set(\"diabetes\",msg.payload.diabetes);\nglobal.set(\"age\",msg.payload.age);\n\nvar apikey=\"A-3CIaTN4-ufPleOuQhpFofj9Bvl_xye-5mdbFTPaAj3\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;","outputs":1,"noerr":0,"x":211.10000610351562,"y":171,"wires":[["b4df79f1.580398"]]},{"id":"3252fa17.923f46","type":"ui_text","z":"f50e8d8c.fbce5","group":"700f777d.516f38","order":2,"width":0,"height":0,"name":"","label":"Result","format":"{{msg.payload}}","layout":"row-spread","x":752.1000366210938,"y":149,"wires":[]},{"id":"7ecfa436.1bfaac","type":"function","z":"f50e8d8c.fbce5","name":"prediction input","func":"var token=msg.payload.token;\nvar preg=global.get(\"preg\");\nvar glucose=global.get(\"glucose\");\nvar bp=global.get(\"bp\");\nvar st=global.get(\"st\");\nvar insulin=global.get(\"insulin\");\nvar bmi=global.get(\"bmi\");\nvar diabetes=global.get(\"diabetes\");\nvar age=global.get(\"age\");\nvar instance_id=\"dd966840-c644-4bae-8b41-0200f2428a73\"\nmsg.payload={\"fields\":[\"preg\",\"glucose\",\"bp\",\"st\",\"insulin\",\"bmi\",\"diabetes\",\"age\"],\"values\":[[preg,glucose,bp,st,insulin,bmi,diabetes,age]]};\nmsg.headers={\"Authorization\":\"Bearer \"+token};\nreturn msg;","outputs":1,"noerr":0,"x":431,"y":176,"wires":[["89a87ee0.374dc"]]},{"id":"700f777d.516f38","type":"ui_group","z":"","name":"ANN","tab":"cc11dc92.54b81","disp":true,"width":"6","collapse":false},{"id":"cc11dc92.54b81","type":"ui_tab","z":"","name":"Predction","icon":"dashboard","disabled":false,"hidden":false}]